{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1> O mnie </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a metus leo. Morbi iaculis diam ac ligula egestas egestas. Pellentesque tincidunt, enim id varius pretium, metus quam accumsan diam, sodales mattis sapien metus ac nunc. Donec lacinia metus sit amet tincidunt ultrices. Nulla placerat risus mauris. Maecenas gravida, lacus ut pharetra feugiat, diam tellus dignissim urna, sit amet blandit magna risus id ante. Maecenas et sagittis odio, accumsan ullamcorper neque. Integer non maximus purus, fringilla placerat est. Vestibulum tempor, quam eget egestas condimentum, quam lorem accumsan lacus, eu tristique tellus nisi a erat. Mauris a ultricies est. Nullam quis venenatis orci.</p>


    </div>
</div>

{% endblock %}