{% extends "base.html" %}
{% load crispy_forms_tags %}\
{% load staticfiles %}

<style>
{% block style %}
.jumbotron {
background-color: #0059b3;
color: #FFF;
}
{% endblock %}
</style>

{% block jumbotron %}
{% if not request.user.is_aunthenticated %}
 <div class="jumbotron">
     <div class="container">
     <div class="row">
        <div class='col-sm-6'>
        <h1>Witam!</h1>
            <p>Jeżeli trafiłeś tu, to na pewno jesteś prowadzącym Systemy Zarządzania Treścią lub studentem z mojej grupy.</p>
            <p>Strona - projekt zaliczeniowy.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" role="button">Rejestracja &raquo;</a>
            </p>
        </div>
    <div class='col-sm-6' >
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0h-NJhNeXvA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
     </div>
{% endif %}
{% endblock %}

{% block content %}

<h1>Oferta</h1>

                    {% if queryset %}
                    <h2>Oferta2.</h2>
<table class="table">
                    {% for instance in queryset %}
                        <tr><td>{{ forloop.counter }} </td><td>{{ instance }} </td><td> {{ instance.name }} </td><td> {{ instance.price }} </td><td> {{ instance.timestamp|timesince}} </td></tr>

                    {% endfor %}
</table>

                    {% endif %}





  {% endblock %}